.imagen{
    height: 350px;
    width: 300px;
}

.cristo{
    height: 500px;
    width: 350px;
}

.parrafoInicial{
    font-style: oblique;
    font-weight: bold; 
    text-align: center !important;
    font-size: 20px;
   
}